VITE_ASAAS_URL=/api-asaas
VITE_ASAAS_API_KEY=sua_chave_aqui
VITE_SUPABASE_URL=seu_url_supabase
VITE_SUPABASE_ANON_KEY=sua_chave_anonima_supabase
VITE_SUPABASE_SERVICE_ROLE_KEY=sua_chave_service_role_supabase